n8n_zapier_buffer_tiktok.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18,
              "triggerAtMinute": 45
            }
          ]
        }
      },
      "id": "8f70368a-6cb3-4bf1-9a36-1ff910745a60",
      "name": "Schedule Trigger2",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1136,
        320
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11,
              "triggerAtMinute": 45
            }
          ]
        }
      },
      "id": "380e2c7c-6687-48e1-b189-64735a43f410",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1136,
        144
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Viết nội dung đăng TikTok cho video sau:\n- Tên tập: {{ $json.title }}\n\nYêu cầu ngắn gọn với 10 từ"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "systemMessage": "Bạn là copywriter cho kênh \"A TỴ Podcast\" — kênh triết học  phương đông ứng dụng trong cuộc sống hện đại .\n\n# NHIỆM VỤ\nViết Caption + Hashtags để đăng video lên TikTok. KHÔNG viết kịch bản.\n\n# QUY TẮC CAPTION (BẮT BUỘC)\n- Tổng độ dài: TỐI ĐA 10 từ  .\n\n- Ngôn từ sâu sắc, tự nhiên, KHÔNG dùng ngôn ngữ quảng cáo.\n\n# QUY TẮC HASHTAGS (BẮT BUỘC)\n- Số lượng: CHỈ 5–7 hashtags được chọn lọc kỹ, KHÔNG spam.\n- Ưu tiên chất lượng hơn số lượng: dùng tag đúng ngách, đúng nội dung.\n- Cấu trúc bắt buộc:\n  • 2 tag thương hiệu: #ATyPodcast #TrietHoc\n  • 2 tag ngách liên quan nội dung (tự chọn phù hợp)\n  • 1–3 tag xu hướng thực sự phù hợp (KHÔNG nhồi nhét)\n- CẤM: Không dùng #viral #foryou #xuhuong một cách máy móc nếu không thực sự liên quan.\n\n# ĐỊNH DẠNG TRẢ VỀ\nCHỈ trả về JSON thuần, KHÔNG giải thích, KHÔNG code block:\n{\"caption\": \"...\", \"hashtags\": \"#tag1 #tag2 #tag3 #tag4 #tag5\"}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -192,
        16
      ],
      "id": "3d096217-4a7f-4f9a-b063-24ad46c9ba18",
      "name": "Message a model",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "YqM2KXufZTy144kU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1iGdzzSDO0nV_-bC6qqzSJm6xOrDgwlib4T6Wrj64_Fo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1156131160,
          "mode": "list",
          "cachedResultName": "Zapier + buffer + tiktok ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iGdzzSDO0nV_-bC6qqzSJm6xOrDgwlib4T6Wrj64_Fo/edit#gid=1156131160"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title ": "={{ $('Get All Videos').item.json.title }}",
            "Caption ": "={{ $json.description }}",
            "Link video ": "={{ $json.video_url }}",
            "Ngày đăng ": "={{ $now.toFormat('dd/MM/yyyy HH:mm:ss') }}",
            "Status": "Success"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title ",
              "displayName": "Title ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caption ",
              "displayName": "Caption ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link video ",
              "displayName": "Link video ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ngày đăng ",
              "displayName": "Ngày đăng ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "608a130e-0c29-4ca3-86b8-aa1d57e0f567",
      "name": "Update Sheet Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        368,
        16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cMtz8PPGiYs5SDb9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Đọc đúng cấu trúc từ LangChain Gemini node\nvar rawText = $input.first().json.content?.parts?.[0]?.text || '';\nvar videoData = $('Find Pending + Build Prompt').first().json;\n\nif (!rawText) {\n  throw new Error('[Gemini Error] Không có text output.');\n}\n\n// Hàm chuyên dụng để xử lý link Google Drive sang Link tải trực tiếp\nfunction getDirectLink(url) {\n  if (url.includes('drive.google.com')) {\n    var match = url.match(/\\/d\\/(.+?)\\/(view|edit)/) || url.match(/id=(.+?)(&|$)/);\n    var fileId = match ? match[1] : url.split('/d/')[1]?.split('/')[0];\n    if (fileId) return \"https://drive.google.com/uc?export=download&id=\" + fileId;\n  }\n  return url;\n}\n\n// Xóa markdown code block\nrawText = rawText.replace(/```json\\s*/gi, '').replace(/```\\s*/gi, '').trim();\n\nvar aiContent = {\n  caption: 'Triết học không phải để đọc — mà để sống. 🌿',\n  hashtags: '#ATyPodcast #TrietHoc'\n};\n\ntry {\n  var parsed = JSON.parse(rawText);\n  if (parsed.caption) aiContent.caption = parsed.caption;\n  if (parsed.hashtags) aiContent.hashtags = parsed.hashtags;\n} catch(e) {}\n\nvar fullDesc = (aiContent.caption + '\\n\\n' + aiContent.hashtags).substring(0, 2200);\n\nreturn [{\n  json: {\n    // TỰ ĐỘNG CHUYỂN ĐỔI LINK TẠI ĐÂY\n    video_url: getDirectLink(videoData.video_url), \n    description: fullDesc,\n    caption: aiContent.caption,\n    hashtags: aiContent.hashtags,\n    row_index: videoData.row_index,\n    episode_id: videoData.episode_id,\n    title: videoData.title,\n    posted_at: new Date().toISOString()\n  }\n}];\n"
      },
      "id": "5def03ac-c6ba-4972-af4f-87b31e018ae9",
      "name": "Parse Gemini Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-video-url",
              "leftValue": "={{ $json.found }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "43bb0aad-0435-4f2f-bed2-9a7036eecd97",
      "name": "Has Pending Video?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -400,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nconst activeVideo = rows[0]?.json;\n\n// Dùng đúng tên cột: output_video_url\nif (!activeVideo || !activeVideo.output_video_url) {\n  return [{ json: { found: false, video_url: '', row_index: 0 } }];\n}\n\nreturn [{\n  json: {\n    found: true,\n    video_url: activeVideo.output_video_url,  // ← Sửa ở đây\n    title: activeVideo.title || 'Video không tiêu đề',\n    philosophical_concept: activeVideo.philosophical_concept || '',\n    target_pain_point: activeVideo.target_pain_point || '',\n    voice_tone_style: activeVideo.voice_tone_style || '',\n    episode_id: activeVideo.episode_id || '',\n    row_index: activeVideo.row_number || activeVideo._rowNumber || 2\n  }\n}];\n"
      },
      "id": "14d6b456-592d-4199-9ad5-72fabb030301",
      "name": "Find Pending + Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        144
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1iGdzzSDO0nV_-bC6qqzSJm6xOrDgwlib4T6Wrj64_Fo",
          "mode": "list",
          "cachedResultName": "Video  A Tỵ _ Minh Triết",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iGdzzSDO0nV_-bC6qqzSJm6xOrDgwlib4T6Wrj64_Fo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 599470117,
          "mode": "list",
          "cachedResultName": "video short ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iGdzzSDO0nV_-bC6qqzSJm6xOrDgwlib4T6Wrj64_Fo/edit#gid=599470117"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status_tiktok",
              "lookupValue": "READY"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "id": "cb239ec7-d02e-4e25-80c3-28dd89ed9c02",
      "name": "Get All Videos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -880,
        144
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cMtz8PPGiYs5SDb9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6,
              "triggerAtMinute": 45
            }
          ]
        }
      },
      "id": "002c8fe0-1620-4fde-86b2-cde380041dba",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1120,
        -32
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1iGdzzSDO0nV_-bC6qqzSJm6xOrDgwlib4T6Wrj64_Fo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 599470117,
          "mode": "list",
          "cachedResultName": "video short ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iGdzzSDO0nV_-bC6qqzSJm6xOrDgwlib4T6Wrj64_Fo/edit#gid=599470117"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "episode_id": "={{ $('Get All Videos').item.json.episode_id }}",
            "status_tiktok": "DONE"
          },
          "matchingColumns": [
            "episode_id"
          ],
          "schema": [
            {
              "id": "episode_id",
              "displayName": "episode_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_loop_url",
              "displayName": "video_loop_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "music_url",
              "displayName": "music_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "output_video_url",
              "displayName": "output_video_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "philosophical_concept",
              "displayName": "philosophical_concept",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "target_pain_point",
              "displayName": "target_pain_point",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "voice_tone_style",
              "displayName": "voice_tone_style",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link_audio",
              "displayName": "link_audio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "create_time_audio",
              "displayName": "create_time_audio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link_thumbnail",
              "displayName": "link_thumbnail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "create_time_video",
              "displayName": "create_time_video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_tiktok",
              "displayName": "status_tiktok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        576,
        16
      ],
      "id": "3e503ebd-8616-44c9-9af0-ef9cccacca02",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cMtz8PPGiYs5SDb9",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "Get All Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get All Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Parse Gemini Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet Status": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Response": {
      "main": [
        [
          {
            "node": "Update Sheet Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Pending Video?": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Pending + Build Prompt": {
      "main": [
        [
          {
            "node": "Has Pending Video?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Videos": {
      "main": [
        [
          {
            "node": "Find Pending + Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get All Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0f847b3d569aeb61da97c32da1e7a9264829c2900a21c6ce1a887a99c6eb942e"
  }
}
